.specialties_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.specialties_container h1 {
    text-transform: uppercase;
    color: #005725;
    border-bottom: #005725 solid 3px;
    font-size: 2rem;
    width: 100%;
}

.specialties_container>div {
    width: 30%;
}

.specialty_itemBox {
    padding: 1.5rem 0;
    width: 24%;
    transition: all 0.3s ease-in-out;
}

.specialty_itemBox h2 {
    width: 90%;
    font-size: 1.5rem;
<<<<<<< HEAD
    border-bottom: 3px solid var(--green-color);
    margin-bottom: 1rem;
=======
    color: #212529;
>>>>>>> 2e5964874a4f733f1914996e964ff5cbf4a031b7
    text-align: start;
    text-transform: capitalize;
}


.line {
    width: 100%;
    height: 3px;
    background-color: #212529;
    opacity: 0;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.specialties_container>div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.specialty_itemBox:hover > .line{
    width: 0%;
    opacity: 1;
    animation: grow 0.5s forwards;
}

@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .specialty_itemBox {
        width: 50%;
    }
}

@media only screen and (min-width: 522px) and (max-width: 768px) {
    .specialty_itemBox {
        width: 50%
    }
}

@media only screen and (min-width: 0px) and (max-width: 521px) {
    .specialty_itemBox {
        width: 100%;
    }
    
    .specialty_itemBox h2 {
        font-size: 1.625rem;
        width: 100%;
        border:none
    }

    .specialties_container h1 {
        font-size: 2.5rem;
    }

    .specialties_container>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}