.loadingScreen{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.849);
    width: 100% !important;
    height: 100vh !important;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 1rem;
    z-index: 9999;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
}

.loadingScreen > .animation{
    width: 22rem;
;
}

.loadingScreenText{
    font-size: 1.5rem;
    color: var(--green-color);
    margin-top: 1rem;
}

.loadingScreenText > h1::before{
    content: "";
}

.loadingScreenText > h1::after{
    content: "";
    animation: loading 3s linear infinite;
}
 

@keyframes loading {
    0% {
        content: "Cargando";
    }
    25% {
        content: "Cargando.";
    }
    50% {
        content: "Cargando..";
    }
    75% {
        content: "Cargando...";
    }
    100% {
        content: "Cargando";
    }
}