section.section-container, section#contacto {
    width: 100%;
    padding: 8rem 1rem 1rem 1rem;
}

section h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 1rem;
    text-transform: uppercase;
    color: #005725;
    width: 100%;
    padding: 1rem;
}


#nosotros p {
    border-top: #005725 4px solid;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: justify;
}

#nosotros span {
    font-weight: 700;
    font-style: italic;
    float: right;
    margin: 2rem;
}

.img-container img {
    width: 100%;
}

div.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 4px solid #005725;
}

.column-box {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    ;
    width: 25%;
}

.column-box h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #212529;
    margin: 1rem 0;
    width: 100%;
}

.text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem
}

.text-icon span {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.column-box iframe {
    border: 0
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
    #nosotros p {
        width: 100%;
    }

    .column-box {
        width: 20%
    }

    .column-box iframe {
        width: 300px;
        height: 275px;
    }

    .column-box h3{
        font-size: 1.5rem;
    }

    .text-icon span{
        font-size: 1.25rem;
    }
    .img-container img {
        width: 100%;
        height: 45rem;
        object-fit: cover;
    }

    div.section-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    #nosotros p {
        width: 100%;
    }

    .column-box {
        width: 40%
    }

    .img-container img {
        width: 100%;
        height: 45rem;
        object-fit: cover;
    }

    div.section-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1279px) {
    div.section-container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .column-box{
        width: 40%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 849px) {
    div.section-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column-box{
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column-box iframe{
        width: 100%;
        height: 275px;
    }

    .img-container img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

