header {
    width: 100%;
}

.firstHeader {
    width: 100%;
    background-color: #005725;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstHeader div{
    margin: 0 1rem;
}

.firstHeader div a{
    margin: 0 1rem;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}

.firstHeader div a svg{
    transition: all 300ms ease-in-out;
}

.firstHeader div a:hover{
    color: #cecece;
}

.secondHeader{
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: 0 10px 10px #dadada;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondHeader div a img{
    width: 70px;
}

.secondHeader nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

.secondHeader nav ul li a{
    text-decoration: none;
    color: #005725;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.secondHeader nav ul li a:hover{
    color: #212529;
}