header {
    max-width: 100%;
}

.firstHeader {
    width: 100%;
    background-color: var(--green-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstHeader div {
    margin: 0 1rem;
}

.firstHeader div a {
    margin: 0 1rem;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}

.firstHeader div a svg {
    transition: all 300ms ease-in-out;
}

.firstHeader div a:hover {
    color: #cecece;
}

.secondHeader {
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: 0 10px 10px #dadada;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.secondHeader div a img {
    width: 140px;
    margin: 0.25rem 0;
}

.secondHeader nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

.secondHeader nav ul li a {
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.secondHeader nav ul li a:hover {
    color: #212529;
}

.secondHeader nav ul li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #212529;
    transition: width 0.3s;
}

.secondHeader nav ul li:hover::after{
    width: 100%;
}

.scrolled-secondHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--green-color);
    box-shadow: 0 2px 10px #000000;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 300ms ease-in;
}

.scrolled-secondHeader div a img {
    width: 140px;
    margin: 0.25rem 0;
}

.scrolled-secondHeader nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

.scrolled-secondHeader nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.scrolled-secondHeader nav ul li a:hover {
    color: #d3d3d3;
}


@media only screen and (min-width: 200px) and (max-width: 850px) {
    
    .firstHeader {
        box-shadow: 0 10px 5px #c0c0c0;
        z-index: 1000;
        width: 100%;
    }

    .firstHeader.scrolled{
        position: fixed !important;
        top: 0;
    }

    .firstHeader img{
        width: 3.5rem;
    }

    .drawer_Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .drawerHeader_title {
        display: flex;
        align-items: center;
    }

    .drawerHeader_title img {
        width: 2.5rem;
    }

    .drawerHeader_title h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 0.5rem;
    }
}   
