footer.footer {
    display: flex;
    width: 100%;
    background-color: var(--green-color);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer>img {
    width: 5rem;
    clip-path: inset(20% 0 20%);
}
