footer.footer {
    display: flex;
    width: 100%;
    background-color: var(--green-color);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer>img {
    width: 5rem;
}

@media only screen and (min-width: 0px) and (max-width: 850px) {
    footer {
        display: none !important;
    }
}