footer.footer{
    display: flex;
    width: 100%;
    background-color: #005725; 
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

footer.footer div{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.footer div a{
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in
}

footer.footer div a:hover{
    color: #000000;
    text-shadow: 0 0 10px white;
}

footer.footer div span{
    margin: 0 1rem;
}