.procedure_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2rem;
    gap: 1rem;
}

.procedure_container h1 {
    font-size: 2rem;
    color: var(--green-color);
    border-bottom: var(--green-color) solid 3px;
    text-transform: uppercase;
}

.procedure_container>div {
    width: 30%;
    margin-bottom: 2rem;
}

.procedure_itemBox {
    padding: 1.5rem 0;
    width: 24%;
    transition: all 0.3s ease-in-out;
}

.procedure_itemBox h2 {
    width: 90%;
    font-size: 1.5rem;
    text-align: start;
    color: #212529;
    text-transform: capitalize;
}

.procedure_itemBox:hover > h1{
    border-bottom: #212529 solid 3px;
}

.procedure_container>div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #212529;
    opacity: 0;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.procedure_itemBox:hover > .line{
    width: 0%;
    opacity: 1;
    animation: grow 0.5s forwards;
}

@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .procedure_itemBox {
        width: 50%;
    }
}

@media only screen and (min-width: 522px) and (max-width: 768px) {
    .procedure_itemBox {
        width: 50%
    }
}

@media only screen and (min-width: 0px) and (max-width: 521px) {
    .procedure_itemBox {
        width: 100%;
    }
    
    .procedure_itemBox h2 {
        font-size: 1.625rem;
        width: 100%;
        border:none
    }

    .specialties_container h1 {
        font-size: 2.5rem;
    }

    .specialties_container>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}