@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
  --green-color: #034d37;
}


html {
  font-size: 16px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif !important;
  scroll-behavior: smooth;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: auto;
}


@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  html{
    font-size: 14px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  html{
    font-size: 13px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  html{
    font-size: 12px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html{
    font-size: 12px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  html{
    font-size: 12px;
  }
}